/* font-family: 'Josefin Sans', sans-serif; */
/* https://colorhunt.co/palette/c0d8c0f5eedcdd4a48ecb390 */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1rem;
    font-family: 'Josefina Sans', sans-serif;
    background-color: #F5EEDC;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-height: 100vh;
}

header {
    font-size: 4rem;
    color: #DD4A48;
}

main {
    display: flex;
    /* border: 3px solid black; */
    height: 600px;
    width: 70%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

#sketch-container {
    /* border: 3px solid red; */
    border-radius: 5px;
    height: 500px;
    width: 500px;
    background-color: #DD4A48;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 10px;
    padding: 15px 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    align-items: center;

}

#sketch-board {
    /* border: 3px solid orange; */
    border-radius: 5px;
    width: 450px;
    height: 450px;
    background-color: whitesmoke;
}

#circle-container {
    /* border: 3px solid black; */
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#settings-container {
    /* border: 3px solid blue; */
    height: 500px;
    min-width: 200px;
    padding: auto 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}

#settings-container input[type=color] {
    background-color: #ECB390;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0px;
    width: 120px;
    height: 40px;
}

#range-container {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 10px;
    font-size: 2rem;
    color: #DD4A48;
    align-items: center;
}

button {
    background-color: #ECB390;
    color: #DD4A48;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 0px;
    font-size: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

footer {
    margin-top: auto;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

