/* font-family: 'Josefin Sans', sans-serif; */
/* https://colorhunt.co/palette/c0d8c0f5eedcdd4a48ecb390 */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1rem;
    font-family: 'Josefina Sans', sans-serif;
    background-color: #F5EEDC;
}

header {
    font-size: 4rem;
    text-align: center;
    color: #ECB390;
    
}