/* font-family: 'Josefin Sans', sans-serif; */
/* https://colorhunt.co/palette/c0d8c0f5eedcdd4a48ecb390 */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1rem;
    font-family: 'Josefina Sans', sans-serif;
    background-color: #F5EEDC;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

header {
    font-size: 4rem;
    color: #ECB390;
}

main {
    display: flex;
    border: 3px solid black;
    height: 600px;
    width: 70%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

#sketch-container {
    border: 3px solid red;
    border-radius: 5px;
    height: 550px;
    width: 600px;

}

#settings-container {
    border: 3px solid blue;
    height: 550px;
    padding: auto 20px;

}